// NOTE: MIXINS DON'T GET COMPILED INTO CSS UNLESS THEY ARE USED using 
// @include mixinName

// CLEARFIX
// ========
// to use apply directly to the element within the css with "@include clearfix;"
// rather than adding a class="clearfix" to a tag in the html.
@mixin clearfix { 
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}